<h4>Replacement Policy</h4>

<p>Any product can be replaced within days if –<br><br><br><br>
•	The product received is not the one ordered<br><br>
•	The product received is defective<br><br>
•	The product has missing parts<br><br><br><br>
The replacement is only applicable , if notified to us within 7 days of receiving the product.<br><br>
Replacement can be made  for the entire product/s or part/s of the product subject to availability of the same with the seller.<br><br><br><br>

Following products shall not be eligible for return or replacement:<br><br>
• Damages due to misuse of product;<br><br>
• Incidental damage due to malfunctioning of product;<br><br>
• Any consumable item which has been used/installed;<br><br>
• Products with tampered or missing serial/UPC numbers;<br><br>
• Digital products/services<br><br>
• Any damage/defect which are not covered under the manufacturer's warranty<br><br>
• Any product that is returned without all original packaging and accessories, including the box, manufacturer's packaging if any, and all other items originally included with the product/s delivered;<br><br>
• Jewellery which is 'made to order' on customer's request<br><br><br><br><br><br>
Our company reserves its right to initiate civil and/or criminal proceedings against a user who, files a invalid and/or false claims or provides false, incomplete, or misleading information. In addition to the legal proceedings as aforesaid, our company  may at its sole discretion suspend, block, restrict, cancel the Display Name [and its related Display Names] of such user and/or disqualify that user and any related users from availing protection through this program. Any person who, knowingly and with intent to injure, defraud or deceive, files a Fraudulent Complaint containing false, incomplete, or misleading information may be guilty of a criminal offence and will be prosecuted to the fullest extent of the law.


</p>