<h1>Terms and conditions</h1>

<p>
    
This document is an electronic record under the Information Technology Act,2000  and the rules of its users are under the Information Technology Act,2000.<br>
This document is published by the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy, and Terms of Use for access or usage of ether.org.in
The domain www.ether.org.in is owned by Ether Space<br><br><br>

For the context of this document the use of “we” or “us” will refer to the company and the terms “you”,” your” or “user” will refer to the buyers/consumers who use this website and accept to became a buyer of our website and agreed to register with us.<br>
Your use of this website and its services will be governed by the following terms and conditions (TERMS OF USE) as applicable to the website and its policies and agreements incorporated herein by references.<br><br>
By using our website, you shall be contracting with our company and our terms and conditions and including policies that govern your usage of our website.<br><br>
Your usage of any of our services (not limited to any particular feature) will stiffly be governed by these terms and you will be subjected to the rules, conditions, policies, and agreements stated in the following terms.<br><br>
We reserve the right to change, modify, add or remove any portion of this document at our discretion without any prior notice. It is the responsibility of the user to check the terms and conditions from time to time.<br><br>
Your continued use of our website means that you comply with our rules for fair use of our website, And your use of our website indicates your agreement to these terms.<br><br><br><br>
Account Registration and its accesses-<br><br>
It is the responsibility of the user to maintain the pieces of information provided including passwords confidentially. The user should also agree that the registration and its accesses can be blocked or detained if the information provided is false, inaccurate, incomplete, and/or not in accordance with these terms of use.<br><br><br><br>
Communication and access permissions –<br><br>
By accepting the terms of our company, the user agrees to communicate pieces of information to our company via emails, and the user consents to share the electronic records of your usage of our website.<br><br>
Terms of usage of the website<br><br>
•	This website is a platform for interaction between sellers and buyers and our company is only a third-party aggregator. We do not own any of the listed products and are henceforth only responsible for the shipments.<br><br>
•	The company does not make any representation or warranty as to the item-specifics (such as legal title, creditworthiness, identity, etc) of any of its Users. Users are advised to independently verify the bona fides of any particular product that They choose to deal with on the Website and use Their best judgment on that behalf.<br><br>
•	The Website is only a platform that can be utilized by Users to reach a larger base to buy and sell products or services. Our company is only providing a platform for communication. Our company is not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.<br><br>
•	The deals sited on website are priced by the sellers(discounted prior to listing by our company) and our company does not hold any responsibility on the pricing after listing.<br><br>
•	Our company cannot take responsibility or control the information provided by other Users which is made available on the Website. You may find other User's information to be offensive, harmful, inconsistent, inaccurate, or deceptive. Please use caution and practice safe trading when using the Website.<br><br>
•	DISCLAIMER- Please note that there could be risks in dealing with underage persons or people acting under false pretence<br><br>
•	Any product that was sold/listed during a particular slot can be restocked after the shipment, and it is the responsibility of the user to check the  listings time to time.<br><br>


<h4>Charges-</h4>
The website is completely free to use and we do not charge a single penny for it,and any information from our web can be accessed freely.<br><br>

<h4>Privacy-</h4><br><br>
We view protection of the user’s privacy as a very important principle. We understand clearly that You and Your Personal Information is one of Our most important assets. We store and process Your Information including any sensitive financial information collected (as defined under the Information Technology Act, 2000), if any, on computers that may be protected by physical as well as reasonable technological security measures and procedures in accordance with Information Technology Act 2000.
We strive to protect your information from any misuses and this information will be shared only to your selected product and its seller.<br><br><br><br>
Payment<br><br>
While availing any of the payment method/s available on the Website, we will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:
1.	Lack of authorization for any transaction/s, or<br><br>
2.	Exceeding the preset limit mutually agreed by You and between "Bank/s", or<br><br>
3.	Any payment issues arising out of the transaction, or<br><br>
4.	Decline of transaction for any other reason/s<br><br>
All payments made against the purchases/services on Website by you shall be compulsorily in Indian Rupees acceptable in the Republic of India. Website will not facilitate transaction with respect to any other form of currency with respect to the purchases made on Website.<br><br><br><br>
Before shipping / delivering your order to you, we may request you to provide supporting documents (including but not limited to Govt. issued ID and address proof) to establish the ownership of the payment instrument used by you for your purchase. This is done in the interest of providing a safe online shopping environment to Our Users.<br><br>
The main mode for transaction through online payment will be Razorpay and any issues for the payment with the gateway has to addressed to them and our company is not responsible for any of those.

</p>